# BotZXY Environment Configuration
# Copia questo file come .env e modifica i valori

SECRET_KEY=BotZXY_Ultra_Secure_Key_2026_Change_Me_Now
FLASK_ENV=production
DATABASE_URL=sqlite:///database/botzxy_c2.db
BOTZXY_ADMIN_USER=BotZXY-Admin
BOTZXY_ADMIN_PASS=35£t}nSBzoA%M#4T\e<
BOTZXY_SALT=botzxy_salt_2026